NEXT_PUBLIC_SUPABASE_URL=https://cxfkwstpztxhkfknuqtj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4Zmt3c3RwenR4aGtma251cXRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0ODE4ODIsImV4cCI6MjA5NTA1Nzg4Mn0.jrAkFgg-eUAlQ1WUx9C0diZf7ZBLi9qipsi27SC_nOU
